<div class="nav-container">
    <div class="nav">
        <div class="nav__top nav__item">
            <div class="nav__name">
                Admin_Motya
            </div>
            <div class="nav__func">
                Администратор
            </div>
        </div>
        <div class="nav__menu">
            <a href="main.html" class="nav__menu-item active">
                Главная
            </a>
            <a href="users.html" class="nav__menu-item">
                Пользователи
            </a>
            <a href="turn.html" class="nav__menu-item">
                Очередь
            </a>
            <a href="request.html" class="nav__menu-item bullet">
                Заявки
                <div class="nav__number">
                    35
                </div>
            </a>
            <a href="programm.html" class="nav__menu-item">
                Программы
            </a>
            <a href="vote.html" class="nav__menu-item">
                Голосования
            </a>
            <a href="calculate.html" class="nav__menu-item">
                Калькулятор
            </a>
        </div>

        <div class="nav__lang nav__item">
            <div class="nav__lang-cont">
                <a href="#" class="nav__lang-item active">
                    Рус
                </a>
                <a href="#" class="nav__lang-item">
                    Qaz
                </a>
            </div>
        </div>

        <a href="../index.html" class="nav__exit nav__item">
            {{Icon iconName="exit"}}
            Выйти
        </a>

    </div>  
</div>