<div class="nav-container">
    <div class="nav">
        <div class="nav__top nav__item">
            <div class="nav__name">
                Klient_Motya
            </div>
            <div class="nav__func">
                Клиент
            </div>
        </div>
        <div class="nav__menu">
            <a href="main.html" class="nav__menu-item">
                Главная
            </a>
            <a href="programm.html" class="nav__menu-item">
                Программы
            </a>
            <a href="bill.html" class="nav__menu-item active">
                Мои счета
            </a>
            <a href="vote.html" class="nav__menu-item bullet">
                Голосования
                <div class="nav__number">
                    13
                </div>
            </a>
            <a href="calculate.html" class="nav__menu-item">
                Калькулятор
            </a>
        </div>

        <div class="nav__lang nav__item">
            <div class="nav__lang-cont">
                <a href="#" class="nav__lang-item active">
                    Рус
                </a>
                <a href="#" class="nav__lang-item">
                    Qaz
                </a>
            </div>
        </div>

        <a href="../index.html" class="nav__exit nav__item">
            {{Icon iconName="exit"}}
            Выйти
        </a>

    </div>  
</div>