<div class="overlay"></div>

<div class="popup popup-delete-user">
    <div class="popup__container">
        <div class="popup-content">
            <div class="popup__close popupClose">
                {{Icon iconName="close"}}
            </div>
            <div class="popup__top popup__block">
                <div class="popup__top-title">
                        Удаление пользователя  
                </div>
                <div class="popup__top-desc">
                        Это действие нельзя будет отменить
                </div>
            </div>
            <div class="popup__desc  popup__block white">
                
                
                <p>
                    Директор <span>Александр Клубничкин</span> будет удалён.
                </p>

                <p>Назначте в место него нового директора</p>
        
                <select name="" class="nice-select" id="">
                    <option value="1">щербакова александра александровна</option>
                    <option value="2" selected>щербакова александра александровна</option>
                    <option value="3">щербакова александра александровна</option>
                </select>
            </div>
            <div class="popup__delete-button  popup__block">
                <a href="#" class="m-button">
                    Удалить
                </a>
            </div>
        </div>
            
    </div>
</div>

<div class="popup add-programm">
    <div class="popup__container">
        <div class="popup-content">
            <div class="popup__close popupClose">
                {{Icon iconName="close"}}
            </div>
            <div class="popup__top popup__block">
                <div class="popup__top-title">
                    Добавление программы 
                </div>
            </div>
            <div class="popup__desc  popup__block white">
                
                <select name="" class="nice-select" id="">
                    <option value="1">накопительный</option>
                    <option value="2" selected>Аннуитетный</option>
                </select>
            </div>
            <div class="popup__delete-button  popup__block">
                <a href="#" class="m-button">
                    Сохранить
                </a>
            </div>
        </div>
            
    </div>
</div>


<div class="popup popup-delete-doc">
    <div class="popup__container">
        <div class="popup-content">
            <div class="popup__close popupClose">
                {{Icon iconName="close"}}
            </div>
            <div class="popup__top popup__block">
                <div class="popup__top-title">
                    Удаление документа  
                </div>
                <div class="popup__top-desc">
                        Это действие нельзя будет отменить
                </div>
            </div>
            <div class="popup__desc  popup__block white">
                
                
                <p>
                    Вы действительно хотите удалить документ
                    <span>Правила кооператива?</span>
                </p>

            </div>
            <div class="popup__delete-button  popup__block">
                <a href="#" class="m-button">
                    Удалить
                </a>
            </div>
        </div>
            
    </div>
</div>


<div class="popup popup-edit">
    <div class="popup__container">
        <div class="popup-content">
            <div class="popup__close popupClose">
                {{Icon iconName="close"}}
            </div>

            <form action="/" class="form-edit">

                <div class="form-edit__content">
                    <input type="text" name="text" class="m-field" placeholder="заголовок документа">
                    
                    <label for="textarea" class="field-label">содержимое документа</label>
                    <textarea name="editor1" name="textarea" id="editor1" rows="10" cols="80">

                        <p>Потребительские Кооперативы, предлагающие в рассрочку недвижимость – реальное веяние нашего времени. Но, как и все новое, кооперативы воспринимаются народом неоднозначно: одни относятся насторожено, другие – с иронией о невозможности существования «без обмана». Однако сейчас все больше людей верят в их надежность и вступая, становятся счастливыми обладателями заветных квадратных метров.</p>
                        <p>Потребительский Кооператив «ВЕСТА ГЛОБАЛ» начал свою  все большедеятельность 27 марта 2017 года в г.Павлодар и несмотря на относительно небольшой период времени нам есть чем гордиться. Ежедневно количество пайщиков увеличивается и выкупленных.</p>
                        <p>Потребительский Кооператив «ВЕСТА ГЛОБАЛ» начал свою  все большедеятельность 27 марта 2017 года в г.Павлодар и несмотря на относительно небольшой период времени нам есть чем гордиться. Ежедневно количество пайщиков увеличивается и выкупленных.</p>
                        <p>Потребительский Кооператив «ВЕСТА ГЛОБАЛ» начал свою  все большедеятельность 27 марта 2017 года в г.Павлодар и несмотря на относительно небольшой период времени нам есть чем гордиться. Ежедневно количество пайщиков увеличивается и выкупленных.</p>
        
                    </textarea>

                    <script>
                        CKEDITOR.replace( 'editor1' );
                    </script>
                </div>
                
                <div class="form-edit__bottom">
                    <a href="#" class="form-edit__bottom-button form-edit__bottom-delete">
                        {{Icon iconName="del"}}
                        Удалить
                    </a>
                    <a href="#" class="form-edit__bottom-button form-edit__bottom-save">
                        Сохранить
                    </a>
                </div>
                
            </form>

        </div>
            
    </div>
</div>
