.ecp {
    &__top {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    &__form {
        display: flex;
        width: 100%;
        justify-content: space-between;
        input {
            max-width: 100%;
            width: 100%;
            margin-right: 25px;
        }
        button {
            min-width: 275px;
        }
        
    }
}