<div class="vote">
    <div class="vote__title m-title-3">
        Будем покупать квартиру?
        <a href="vote-2.html" class="m-link">Смотреть участников голосования</a>
    </div>
    <div class="vote__items">
        <div class="vote__item" >
            <div class="vote__line" style="width: calc(100% - 140px)"></div>
            <div class="vote__text">
                <div>- Да. </div> <span>(12%)</span>
            </div>
        </div>
        <div class="vote__item" >
            <div class="vote__line" style="width: calc(70% - 140px)"></div>
            <div class="vote__text">
                <div>- Нет. </div> <span>(70%)</span>
            </div>
        </div>
        <div class="vote__item" >
            <div class="vote__line" style="width: calc(50% - 140px)"></div>
            <div class="vote__text">
                <div>- Воздерж. </div> <span>(50%)</span>
            </div>
        </div>
    </div>  
</div>