<div class="pag">
    <div class="pag__container">
        <div class="pag-prev">
            <img src="%=static=%img/general/left.png" alt="">
        </div>

        <a href="#" class="pag__item active">1</a>
        <a href="#" class="pag__item">2</a>
        <a href="#" class="pag__item">3</a>
        <span class="pag__item">...</span>
        <a href="#" class="pag__item">150</a>

        <div class="pag-next">
            <img src="%=static=%img/general/right.png" alt="">
        </div>
    </div>
</div>